{% if 
  heading is defined
  and heading
  and description is defined
  and description
  and link is defined
  and link %}
  <div>
    <picture>
      {% if coverPicture is defined and coverPicture %}
        <img src={{ coverPicture }} alt="" class='w-full rounded-t-md'>
        {% else %}
        <img src="https://placeholder.pics/svg/378x275" alt="" class='w-full rounded-t-md'>
      {% endif %}
    </picture>
    <a href={{ link }} class='flex flex-col gap-4 p-4 bg-white pb-[53px] rounded-b-md'>
      <h4 class='font-bold text-[20px] leading-[26px]'>{{ heading }}</h4>
      <p class='font-normal text-base text-gray-900'>{{ description }}</p>
    </a>
  </div>
{% endif %}

