{% if links is defined and links %}
  <li class="xl:flex">
    <button 
    type='button'
    class='flex justify-between items-center w-[100%] xl:w-auto xl:gap-[5px]'>
      <a class='font-normal text-[18px] leading=[25px] 
      text-gray-900 pl-[10px] xl:pl-0 xl:font-semibold xl:text-[16px] 
      xl:leading-[19px]' href={{item.urls[0].link}}>
        {{ links.text }}
      </a>
      <div class='arrow-donw-icon'></div>
    </button>
    <ul class='hidden flex-col px-[20px] gap-[20px] 
    xl:fixed xl:bg-white xl:p-[20px] xl:rounded-b-md 
    xl:shadow-nav-menu xl:mt-[45px]'>
      {% for item in links.urls %}
        <li class='font-normal text-[18px] leading=[25px] first:mt-[20px] text-blue-700 xl:first:mt-0'>
          <a href={{item.link}}>{{item.text}}</a>
        </li>
      {% endfor %}
    </ul>
  </li>
{% endif %}

