{% if title is defined and title %}
  <div class="redactor flex flex-col gap-4 py-[30px] lg:py-[32px]">
    {% include "_partials/_heading.twig" with {
      text: title,
      htag: 'h1'
    } %}

    {% if intro is defined and intro %}
      <h4 class="w-2/3 font-light text-gray-700">
        {{ intro }}
      </h4>
    {% endif %}
  </div>
{% endif %}

