  <div class="flex flex-col redactor gap-[30px]">
    {% if title is defined and title %}
     <h2>{{ title }}</h2>
    {% endif %}
    {% if content is defined and content %}
          <p class=" text-gray-700 ">
            {{ content }}
          </p>
    {% endif %}
    {% if auxContent is defined and auxContent %}
    <p class=" mt-[15px] text-gray-700 ">
      {{ auxContent }}
    </p>
{% endif %}
  </div>

