{# <footer id="site-footer">
  <div class="text-white bg-blue-900 flex flex-col p-[15px]">
    <div>
      image
    </div>
    <div class="divide-y">
      <div>
        Resources
      </div>
      <div>
        About Us
      </div>
      <div>
        Contact
      </div>
    </div>
    <div>
      image
    </div>
  </div>
</footer> #}
