{% extends '_layouts/_base_page_layout.twig' %}

{% set pageIntro %}
  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas faucibus mollis interdum.</p>
  <p>Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
{% endset %}

{% block pageHeader %}
  {% include '_partials/_page_header.twig' with {
    title: 'Beef Processing Facility',
    intro: 'EOSi Assists Meat Processing Facility During Commissioning of a BNR Upgrade to Address Multiple Process Challenges and to Meet Compliance Goals '
  } %}
{% endblock %}

{% block pageContent %}
  <section>
    {% include "_blocks/_richText.twig" with {
      blk: {
        contents: pageIntro
      }
    } %}
  </section>
{% endblock %}

{% block pageSidebar %}
  {% include "_partials/_case-study-form.twig" %}
{% endblock %}

{% block pageFooter %}
{% endblock %}
