{% if blk is defined and blk and blk.cards is defined and blk.cards %}
  <div class='grid md:grid-cols-2 lg:grid-cols-3 gap-[30px]'>
    {% for card in blk.cards %}
      {% include "_partials/_card.twig" with {
        heading: card.heading,
        description: card.description,
        coverPicture: card.coverPicture,
        link: card.link
      } %}
    {% endfor %}
  </div>
{% endif %}


