{% if blk is defined and blk and blk.images is defined and blk.images %}
	<figure class="">
		<picture>
			<source media="(max-width: 767px)" srcset="img/river.png"/>
			<img src="img/river.png" alt="River" class="w-full rounded-md"/>
		</picture>
		<figcaption>
			<span class="text-base italic font-normal leading-9 text-gray-700">
				Algal blooms caused by excessive Nitrogen.
			</span>
		</figcaption>
	</figure>
{% endif %}
