{% if blk is defined and blk and blk.images is defined and blk.images %}
	<figure>
		<picture>
			<source media="(max-width: 767px)" srcset="{{images[0]}}"/>
			<img src="{{images[1]}}" alt="{{images[1]}}" class="w3-circle w3-margin-top rounded-md"/>
		</picture>
		<figcaption>
			<span class="text-base italic font-normal leading-9 text-gray-700">
				Algal blooms caused by excessive Nitrogen.
			</span>
		</figcaption>
	</figure>
{% endif %}
